.under-hero {
    padding: 10rem 4rem 4rem 4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bars-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
}

.about-bars-section > div {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 300px;
}

.about-desc-header h3 {
    font-size: 36px;
}

.about-desc-content {
    margin-top: 2rem;
    max-width: 80%;
}

.about-bar-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-bar-container h4 {
    font-weight: 300
}

.about-bar-outer {
    width: 100%;
    height: 1.5rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    margin-top: 1rem;
}

.about-bar-inner {
    width: 0%;
    height: 100%;
background-image: linear-gradient(to right, rgb(115, 92, 247), rgb(97, 221, 255));
    border-radius: 10px;

}

.bar-load#html {
    animation-name: load-bar-html;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bar-load#javascript {
    animation-name: load-bar-javascript;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bar-load#css {
    animation-name: load-bar-css;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bar-load#react {
    animation-name: load-bar-react;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes load-bar-html {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes load-bar-javascript {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@keyframes load-bar-css {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}

@keyframes load-bar-react {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}