.hero-color-div {
    display: flex;
    justify-content: center;
}

.hero-div {
    background-color: white;
    height: auto;
    min-width: 80%;
    max-width: 800px;
    position: relative;
    top: 6rem;
    border-radius: 10px;
    padding: 5rem;
    box-shadow: 0px 30px 30px rgba(212, 212, 212, 0.5);
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.hero-image img {
    height: 100%;
    width: 100%;
}

.hero-desc-greeting {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .1rem;
}

.hero-desc-name {
    font-size: 48px;
    font-weight: bold;
}

.hero-desc-title {
    font-size: 16px;
    font-weight: normal;
}

.hero-desc-desc {
    margin-top: 4rem;
    font-size: 16px;
    font-weight: 300;
    color: gray;
}

.hero-icons {
    margin-top: 2rem;
}

.hero-icon-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-icons img {
    filter: invert(37%) sepia(79%) saturate(3618%) hue-rotate(235deg) brightness(100%) contrast(93%);
    height: 1.5rem;
    margin-right: 1rem;
}

.hero-buttons {
    margin-top: 4rem;
}

.hero-button {
    border-radius: 5px;
    padding: 1rem;
    background-color: lightgray;
}

.hero-button:hover {
    background-image: linear-gradient(to right, rgb(115, 92, 247), rgb(97, 221, 255));

}

.hero-button img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(322deg) brightness(106%) contrast(102%);
    height: 1rem;
}